@font-face {
    font-family: 'VAG Rounded';
    src: url('/fonts/vag-rounded-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Koblenz';
    src: url('/fonts/koblenz-heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
