@use '../../styles/utils' as *;

.tm-content-section {
    @include container();
    margin-block: 64px;
    scroll-margin-top: 24px;

    &__head { margin-bottom: 24px; }

    &__link {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        padding-block: 8px;
        color: var(--tm-brand-secondary);
        font-size: size(15);
        font-weight: 600;
        text-decoration: none;

        &:hover { text-decoration: underline; }
    }

    &__grid {
        display: grid;
        gap: 24px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 0;

        > * { flex: 1; }
    }
}

@media #{$until-md} {
    .tm-content-section__column {
        grid-column: span 12 !important;
    }
}
